@model RFIDAttendance.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Remove Student</h1>

<h3>Are you sure you want to remove this student?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLastCheckedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLastCheckedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLastCheckedOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLastCheckedOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendaceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendaceStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
