@model RFIDAttendance.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLastCheckedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLastCheckedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLastCheckedOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLastCheckedOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendaceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendaceStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Student</a> |
    <a asp-action="Index">Back to List</a>
</div>
