@model IEnumerable<RFIDAttendance.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Class List</h1>

<p>
    <a asp-action="Create">Add New Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Student ID", "Index", new { sortOrder = ViewBag.IDSortParm })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLastCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLastCheckedOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendaceStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLastCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLastCheckedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendaceStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
