@model IEnumerable<RFIDAttendance.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Class List - @(ViewBag.CurrentFilter == null ? "All Periods" : ViewBag.CurrentFilter)</h1> @*TODO append period based on filters (use ViewBag)*@

<table class="table">
    <thead>
        @using (Html.BeginForm())
        {
            <tr>
                <th>
                    <button class="btn btn-outline-secondary" name="link" value="1" asp-action="FilterPeriod">Period 1</button>
                </th>
                <th>
                    <button class="btn btn-outline-secondary" name="link" value="2" asp-action="FilterPeriod">Period 2</button>
                </th>
                <th>
                    <button class="btn btn-outline-secondary" name="link" value="3" asp-action="FilterPeriod">Period 3</button>
                </th>
                <th>
                    <button class="btn btn-outline-secondary" name="link" value="4" asp-action="FilterPeriod">Period 4</button>
                </th>
                <th>
                    <button class="btn btn-outline-secondary" name="link" value="5" asp-action="FilterPeriod">Period 5</button>
                </th>
                <th>
                    <button class="btn btn-outline-secondary" name="link" value="6" asp-action="FilterPeriod">Period 6</button>
                </th>
                <th>
                    <button class="btn btn-outline-secondary" name="link" value="" asp-action="FilterPeriod">All Periods</button>
                </th>
            </tr>
        }
    </thead>
</table>

<p>
    <a asp-action="Create">Add New Student</a>
</p>

@using (Html.BeginForm())
{
    <p style="max-width: 25%">
        Find by Name or ID: @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Search" })
        <input class="btn btn-outline-primary" type="submit" value="Search" />
    </p>
    @*<p>
        <button asp-action="CheckIn" class="btn btn-outline-primary" type="submit">Check In/Out Student</button>
    </p>*@
    <p>
        <button asp-action="NewDay" class="btn btn-outline-primary" type="submit">Reset Day</button>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLastCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLastCheckedOut)
            </th>
            <th>
                @Html.ActionLink("Attendance Status", "Index", new { sortOrder = ViewBag.StatusSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLastCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLastCheckedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendaceStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
